### Task 1 - Vowels and consonant count

In [1]:
import pandas as pd

In [2]:
my_string = 'Artificial intelligence is the heart of future'

In [3]:
text_file = open("Output.txt", "w")
text_file.write(my_string)
text_file.close()

In [4]:
my_list = []
f = open('Output.txt','r')
for i in f:
    my_list = i.split()
f.close()

In [5]:
my_list

['Artificial', 'intelligence', 'is', 'the', 'heart', 'of', 'future']

In [20]:
def checkvowel(string):
    r = [string]
    count_cons = 0
    for vowel in 'aeiou':
        count = string.lower().count(vowel)
        r.append(count)
    for cons  in string.lower():
        if cons not in 'aeiou' and cons.isalpha() == True:
            count_cons += 1
    r.append(count_cons)            
    return tuple(r)

In [21]:
l = []
for i in my_list:
    t = checkvowel(i)
    l.append(t)

In [23]:
df = pd.DataFrame(l,columns=['word','a','e','i','o','u','Consonants'])

In [24]:
df

           word  a  e  i  o  u  Consonants
0    Artificial  2  0  3  0  0           5
1  intelligence  0  3  2  0  0           7
2            is  0  0  1  0  0           1
3           the  0  1  0  0  0           2
4         heart  1  1  0  0  0           3
5            of  0  0  0  1  0           1
6        future  0  1  0  0  2           3

### Task 2 kth non repeating character

In [25]:
my_list

['Artificial', 'intelligence', 'is', 'the', 'heart', 'of', 'future']

In [30]:
# Python 3 program to find k'th  
# non-repeating character in a string 
MAX_CHAR = 256
  
# Returns index of k'th non-repeating  
# character in given string str[]
def kthNonRepeating(str, k): 
  
    n = len(str) 
  
    # count[x] is going to store count of   
    # character 'x' in str. If x is not  
    # present, then it is going to store 0. 
    count = [0] * MAX_CHAR 
  
    # index[x] is going to store index of  
    # character 'x' in str. If x is not  
    # present or x is repeating, then it  
    # is going to store a value (for example,  
    # length of string) that cannot be a valid 
    # index in str[] 
    index = [0] * MAX_CHAR 
  
    # Initialize counts of all characters  
    # and indexes of non-repeating characters. 
    for i in range( MAX_CHAR): 
        count[i] = 0
        index[i] = n # A value more than any  
                     # index in str[] 
  
    # Traverse the input string 
    for i in range(n): 
          
        # Find current character and  
        # increment its count 
        x = str[i] 
        count[ord(x)] += 1
  
        # If this is first occurrence, then  
        # set value in index as index of it. 
        if (count[ord(x)] == 1): 
            index[ord(x)] = i 
  
        # If character repeats, then remove  
        # it from index[] 
        if (count[ord(x)] == 2): 
            index[ord(x)] = n 
  
    # Sort index[] in increasing order. This step 
    # takes O(1) time as size of index is 256 only 
    index.sort() 
  
    # After sorting, if index[k-1] is value,  
    # then return it, else return -1. 
    return index[k - 1] if (index[k - 1] != n) else -1

In [44]:
# driver code
r = []
k = int(input('Enter the value for k'))
for i in my_list:
    result = kthNonRepeating(i, k)
    if result == -1:
        r.append((i,'_'))
    else:
        r.append((i,i[result]))
df2 = pd.DataFrame(r,columns = ['word','character'])
df2

Enter the value for k 3

           word character
0    Artificial         t
1  intelligence         c
2            is         _
3           the         e
4         heart         a
5            of         _
6        future         r

### Task 3

In [45]:
my_dict = {'category':['Furniture','Technology','officesupplies','Furniture','Technology'],
          'subcategory':['Chairs','Mobile phone','letterpads','cot','blueetooth']}

In [46]:
df3 = pd.DataFrame(my_dict)

In [47]:
df3

         category   subcategory
0       Furniture        Chairs
1      Technology  Mobile phone
2  officesupplies    letterpads
3       Furniture           cot
4      Technology    blueetooth

In [69]:
json_object = json.dumps(my_dict)
value = json.loads(json_object)
json.dumps(json_object, indent=4)
[
    {
    "category": 
        "furniture",
    "subcategory": [
        "chairs",
        "cot"],
    },
    {
    "category":
        "technology",
    "subcategory":[
        "mobile phones",
            "blueetooth"
        ]   
    }
]

[{'category': 'furniture', 'subcategory': ['chairs', 'cot']},
 {'category': 'technology', 'subcategory': ['mobile phones', 'blueetooth']}]

### Task-4

In [74]:
my_string = '''Cricket is a bat-and-ball game played between 
two teams of eleven players on a field at the centre of which is a 
22-yard,44,88 (20-metre) pitch with a wicket at each end, each comprising two bails balanced 
on three stumps. The batting side scores runs by striking the ball bowled at the wicket 
with the bat (and running between the wickets), while the bowling and fielding side 
tries to prevent this (by preventing the ball from leaving the field 44, and getting the ball 
to either wicket) and dismiss each batter (so they are "out"). 
Means of dismissal include being bowled, when the ball hits the stumps and dislodges the bails, 
and by the fielding side either catching the ball after it is hit by 55,67,68 the bat and before 
it hits the ground, or hitting a wicket with the ball before a batter can cross the crease 
in front of the wicket. When ten batters have been dismissed, the innings ends and the teams swap roles. 
The game is adjudicated by two umpires.aided by a third umpire and match referee in international matches. 
They communicate with two off-field scorers who record the match's statistical information.'''

In [82]:
my_list = my_string.split('.')

In [83]:
df4 = pd.DataFrame(my_list,columns=['sentences'])

In [84]:
df4

                                           sentences
0  Cricket is a bat-and-ball game played between ...
1   The batting side scores runs by striking the ...
2   \nMeans of dismissal include being bowled, wh...
3   When ten batters have been dismissed, the inn...
4           \nThe game is adjudicated by two umpires
5  aided by a third umpire and match referee in i...
6   \nThey communicate with two off-field scorers...
7

In [108]:
def countDigit(string):
    r=[]
    count = 0
    for i in string:
        if i.isdigit() == True:
            count = count+1
    r.append(count)
    return(tuple(r))

In [109]:
for i in my_list:
    res = countDigit(i)
    my_list.append(res)

AttributeError: 'int' object has no attribute 'isdigit'

In [107]:
my_list

['Cricket is a bat-and-ball game played between \ntwo teams of eleven players on a field at the centre of which is a \n22-yard,44,88 (20-metre) pitch with a wicket at each end, each comprising two bails balanced \non three stumps',
 ' The batting side scores runs by striking the ball bowled at the wicket \nwith the bat (and running between the wickets), while the bowling and fielding side \ntries to prevent this (by preventing the ball from leaving the field 44, and getting the ball \nto either wicket) and dismiss each batter (so they are "out")',
 ' \nMeans of dismissal include being bowled, when the ball hits the stumps and dislodges the bails, \nand by the fielding side either catching the ball after it is hit by 55,67,68 the bat and before \nit hits the ground, or hitting a wicket with the ball before a batter can cross the crease \nin front of the wicket',
 ' When ten batters have been dismissed, the innings ends and the teams swap roles',
 ' \nThe game is adjudicated by two umpires',
 'aided by a third umpire and match referee in international matches',
 " \nThey communicate with two off-field scorers who record the match's statistical information",
 '',
 (8, 8),
 (2, 2),
 (6, 6),
 (0, 0),
 (0, 0),
 (0, 0),
 (0, 0),
 (0, 0),
 (8,),
 (2,),
 (6,),
 (0,),
 (0,),
 (0,),
 (0,),
 (0,),
 (8,),
 (2,),
 (6,),
 (0,),
 (0,),
 (0,),
 (0,),
 (0,),
 (8,),
 (2,),
 (6,),
 (0,),
 (0,),
 (0,),
 (0,),
 (0,),
 (8,),
 (2,),
 (6,),
 (0,),
 (0,),
 (0,),
 (0,),
 (0,),
 (8,),
 (2,),
 (6,),
 (0,),
 (0,),
 (0,),
 (0,),
 (0,)]